/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; /* Light background color */
}

nav {
    background-color: #00bcd4; /* Light orange for the navigation background */
    color: #fff;
    text-align: left;
    padding: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: auto;
    margin-left: 20px; /* Adjust the space from left */
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: #333;
}

form {
    max-width: 600px;
    height: 40%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.date-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

h2 {
    margin-bottom: 10px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="number"],
select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #00bcd4; /* Light orange for buttons */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color:#00bcd4; /* Darker shade of orange on hover */
}
